/*Sets background image*/
html { 
  background: url(http://i.imgur.com/fM6OQYqg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
